.navbar-dark {
  background-color: #a65b5b;
}

.navbar-dark .navbar-brand {
  margin: 0px;
  text-align: center;
  padding: 0px;
}

.navbar-dark .navbar-brand img {
  width: 200px;
  height: auto;
}

header {
  height: 93vh;
  background-image: url("Pic_Collate.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: floralwhite;
}

header .header-card h3 {
  font-family: "Muli", sans-serif;
  font-weight: bold;
}

@media only screen and (min-width: 840px) {
  header .header-card h3 {
    font-size: 3em;
  }
}

header .header-card small {
  font-family: "Belleza", sans-serif;
}

@media only screen and (min-width: 840px) {
  header .header-card small {
    font-size: 1.5em;
  }
}

header .header-card button {
  font-size: 1em !important;
}

.row-content {
  min-height: 60vh;
  overflow-x: hidden;
}

.guide {
  background: #020024;
  background: linear-gradient(156deg, #020024 0%, #0d192a 9%, #626061 100%);
  color: floralwhite;
}

.guide h1 {
  color: floralwhite;
  font-family: "Lalezar", cursive;
  font-size: 1.8em;
  border: 2px solid floralwhite;
  text-align: center;
  padding: 5px 5px 0px 5px;
  margin: 0px;
  min-width: 100%;
}

@media only screen and (min-width: 840px) {
  .guide h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 320px) {
  .guide h1 {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 576px) {
  .guide h1 {
    min-width: 60%;
  }
}

.guide #guide-heading-sub {
  color: #bff8ee;
  font-family: "Andada", serif;
  font-size: 1.3em;
}

.guide .step-div {
  min-height: 500px;
}

@media only screen and (min-width: 840px) {
  .guide .step-div {
    min-height: 600px;
  }
}

@media only screen and (min-width: 576px) {
  .guide .step-div {
    min-height: 400px;
  }
}

.guide .step-div .step-heading {
  border: 2px solid floralwhite;
  text-align: center;
  min-width: 60%;
  margin: 10px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}

@media only screen and (min-width: 576px) {
  .guide .step-div .step-heading {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.guide .step-div img {
  width: 60%;
  height: auto;
}

@media only screen and (min-width: 840px) {
  .guide .step-div #step-2-img {
    width: 59%;
    height: auto;
  }
  .guide .step-div #step-3-img {
    width: 58%;
    height: auto;
  }
}

.guide .step-div p {
  text-align: center;
  font-family: "Muli", sans-serif;
  font-weight: lighter;
}

.guide .step-div span {
  width: 30%;
  height: 15px;
  border-radius: 20px 20px;
  margin-top: auto;
  background-color: #a65b5b;
}

@media only screen and (min-width: 576px) {
  .guide .step-div span {
    width: 50%;
    height: 10px;
    margin: auto 0px;
  }
}

@media only screen and (min-width: 840px) {
  .guide .step-div span {
    height: 15px;
    width: 30%;
    margin: auto 0px;
  }
}

.benefits {
  background-image: url("./3rd_portion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -150px;
}

.benefits .col-12 {
  background-color: rgba(13, 25, 42, 0.5);
}

@media only screen and (min-width: 576px) {
  .benefits #benefits-benefit {
    padding-top: 4%;
  }
}

@media only screen and (min-width: 840px) {
  .benefits #benefits-benefit {
    padding-top: 2%;
  }
}

.benefits h1 {
  /*Little Savings Matter*/
  font-family: "brusherregular", cursive;
  color: floralwhite;
  padding: 15px;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 576px) {
  .benefits h1 {
    text-align: left;
  }
}

@media only screen and (min-width: 840px) {
  .benefits h1 {
    font-size: 4em;
  }
}

.benefits .benefit-box {
  border: 3px solid floralwhite;
  padding: 0px 20px 0px 20px;
  min-width: 100%;
  margin-bottom: 30px;
  text-align: center;
  color: floralwhite;
}

.benefits .benefit-box h3 {
  font-family: "Muli", sans-serif;
  font-weight: bold;
}

.benefits .benefit-box p {
  font-family: "Corben", cursive;
  font-weight: normal;
}

.partners {
  background: #0c1829;
  background: linear-gradient(156deg, #0c1829 0%, #0d192a 9%, #3f6066 100%);
}

@media only screen and (min-width: 840px) {
  .partners .partners-heading {
    padding-bottom: 50px;
  }
}

.partners .partners-heading h1 {
  color: floralwhite;
  font-family: "brusherregular", cursive;
}

@media only screen and (min-width: 840px) {
  .partners .partners-heading h1 {
    font-size: 3em;
  }
}

.partners .partners-heading p {
  color: #928F90;
  font-family: "cooper_hewittbook", cursive;
}

.partners .img-thumbnail {
  background-color: #3f6066;
}

.partners #carouselPartners {
  min-height: 300px;
}

@media only screen and (min-width: 840px) {
  .partners #carouselPartners {
    min-height: 450px;
  }
}

@media only screen and (min-width: 576px) {
  .partners #carouselPartners .partner-logo {
    width: 25%;
    height: auto;
  }
}

.subscribtion-row {
  background: #fcfafa;
  background: linear-gradient(156deg, #fcfafa 0%, #ebdbdb 8%, #bc8484 100%);
}

.subscribtion-row #subscribtion-heading {
  font-family: "gagalinregular", serif;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 840px) {
  .subscribtion-row #subscribtion-heading {
    font-size: 3em;
  }
}

.subscribtion-row .sub-form-div #sub-form-heading {
  color: #4a6f73;
  font-family: "glacial_indifferencebold", serif;
  font-size: 1.4em;
}

.subscribtion-row .sub-form-div .sub-form-input {
  background: transparent;
  text-align: center;
  border: 2px solid #636162;
  font-family: "glacial_indifferenceregular", serif;
}

.subscribtion-row .sub-form-div small {
  font-family: "glacial_indifferenceregular", serif;
}

.subscribtion-row .sub-form-div .sub-btn {
  background-color: #a65b5b;
  color: floralwhite;
  font-family: "cooper_hewittbook", cursive;
  padding: 5px 40px 5px 40px;
  border: none;
}

footer {
  background: #a55a5a;
  background: linear-gradient(156deg, #a55a5a 0%, #281616 100%);
  font-size: .7em;
}

@media only screen and (min-width: 840px) {
  footer {
    padding: 0px 100px;
  }
}

footer .row-content {
  min-height: 30vh;
}

footer h5 {
  color: floralwhite;
  font-family: "Muli", sans-serif;
}

footer li {
  list-style: none;
}

footer li a {
  font-family: "Muli", sans-serif;
  font-weight: 200;
  color: #DFD8D8;
  text-decoration: none;
}

footer li a:hover {
  color: floralwhite;
  text-decoration: none;
}

footer #copyright {
  font-family: "Open Sans", sans-serif;
  font-size: .2em;
  text-align: center;
  color: #a1a1a1;
  font-weight: lighter;
}

@media only screen and (min-width: 576px) {
  footer #copyright {
    font-size: .6em;
  }
}

@media only screen and (min-width: 840px) {
  footer #copyright {
    font-size: 1em;
    margin-top: auto;
  }
}

footer .btn-social-icon {
  background-color: floralwhite;
  border-radius: 50%;
  color: #636162;
}

footer .fa-facebook, footer .fa-twitter, footer .fa-instagram {
  font-size: 2em;
  border-radius: 50%;
}

footer .fa-instagram {
  background: transparent;
  color: floralwhite;
}

footer .fa-twitter {
  color: floralwhite;
}

footer #hashTag {
  color: floralwhite;
  font-family: "Muli", sans-serif;
}

foot-list-support {
  display: inline;
}

foot-list-support li {
  display: inline;
  color: red;
}
/*# sourceMappingURL=style.css.map */