$colors: (
	"primary": #a65b5b
);


$font-Andada: 'Andada', serif;
$font-Bellaza: 'Belleza', sans-serif;
$font-Corben: 'Corben', cursive;
$font-Lalezar: 'Lalezar', cursive;
$font-Muli: 'Muli', sans-serif;
$font-OpenSans: 'Open Sans', sans-serif;
$font-Brusher: 'brusherregular', cursive;
$font-Gagalin: "gagalinregular", serif;
$font-GlacialBold: "glacial_indifferencebold", serif;
$font-Galcial: 'glacial_indifferenceregular', serif;
$font-Cooper: "cooper_hewittbook", cursive;


$desktop: 840px;
$md: 576px;
$iphone-5: 320px;

@mixin desktop {
	@media only screen and(min-width:#{$desktop}){
		@content;
	}
}
@mixin tablet {
	@media only screen and(min-width:#{$md}){
		@content;
	}
}



@function color($color-name){
	@return map-get($colors,$color-name);
}


.navbar-dark{
	background-color: color(primary);
	.navbar-brand{
		margin: 0px;
		text-align: center;
		padding: 0px;

		img{
			width: 200px;
			height: auto;
			
		}
	}
}
header{
	height: 87vh;
	background-image: url('Pic_Collate.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: floralwhite;

	.header-card{
		h3{
			font-family: $font-Muli;
			font-weight: bold;
		}

		small{
			font-family: $font-Bellaza;
		}

		button{
			font-size: 1em !important;
		}
	}
}

.row-content{
	min-height: 60vh;
	overflow-x: hidden;
}

.guide{
	background: rgb(2,0,36);
	background: linear-gradient(156deg, rgba(2,0,36,1) 0%, rgba(13,25,42,1) 9%, rgba(98,96,97,1) 100%);
	color: floralwhite;

	h1{
		color: floralwhite;
		font-family: $font-Lalezar;
		font-size: 1.8em;
		border:2px solid floralwhite;
		text-align: center;
		padding: 5px 5px 0px 5px;
		margin: 0px;
		min-width: 100%;

		@media only screen and(max-width: $iphone-5){
			font-size: 1.3em;
		}
	}
	#guide-heading-sub {
		color: #bff8ee;
		font-family: $font-Andada;
		font-size: 1.3em;
	}
	

	.step-div{

		min-height: 500px;

		.step-heading{
		border: 2px solid floralwhite;
		text-align: center;
		min-width: 60%;
		margin: 10px auto;
		padding: 5px 0 7px 0;
		font-family: $font-Muli;
		font-weight: bold;
		font-size: 1.3em;
		}

		img{
			width: 60%;
			height: auto;
		}

		p{
			text-align: center;
			font-family: $font-Muli;
			font-weight: lighter;
		}

		span{
			width: 30%;
			height: 15px;
			border-radius: 20px 20px;
			background-color: color(primary);
		}
	}
}
.benefits{
	background-image: url("./3rd_portion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -150px;

	.col-12{
		background-color: rgba(13,25,42,.5);
	}
	
	h1{ /*Little Savings Matter*/
		font-family: $font-Brusher;
		color: floralwhite;
		padding: 15px;
		width: 100%;
		text-align: center;
	}

	.benefit-box{
		border: 3px solid floralwhite;
		padding: 0px 20px 0px 20px;
		min-width: 100%;
		margin-bottom: 30px;
		text-align: center;
		color: floralwhite;

		h3{
			font-family: $font-Muli;
			font-weight: bold;
		}
		p{
			font-family: $font-Corben;
			font-weight: normal;
		}
	}
}
.partners{
	background: rgb(12,24,41);
	background: linear-gradient(156deg, rgba(12,24,41,1) 0%, rgba(13,25,42,1) 9%, rgba(63,96,102,1) 100%);
	height: 45vh;
	.partners-heading{
		h1{
			color: floralwhite;
			font-family: $font-Brusher;
		}
		p{
			color: #928F90;
			font-family: $font-Cooper;
		}
	}
	.img-thumbnail{
		background-color: rgba(63,96,102,1);
	}
	#carouselPartners{
		
	}
}
#carouselPartners{
	overflow-x: hidden;
}
.subscribtion-row{
	background: rgb(252,250,250);
	background: linear-gradient(156deg, rgba(252,250,250,1) 0%, rgba(235,219,219,1) 8%, rgba(188,132,132,1) 100%);
	

	#subscribtion-heading{
		font-family: $font-Gagalin;
		font-size: 2em;
		width: 100%;
		text-align: center;
	}

	.sub-form-div{
		#sub-form-heading{
			color: #4a6f73;
			font-family: $font-GlacialBold;
			font-size: 1.4em;
			
		}

		.sub-form-input{
			background: transparent;
			text-align: center;
			border: 2px solid #636162;
			font-family: $font-Galcial;
		}

		small{
			font-family: $font-Galcial;
			
		}

		.sub-btn{
			background-color: color(primary);
			color: floralwhite;
			font-family: $font-Cooper;
			padding: 5px 40px 5px 40px;
			border: none;
		}
	}

}


footer{
	background: rgb(165,90,90);
	background: linear-gradient(156deg, rgba(165,90,90,1) 0%, rgba(40,22,22,1) 100%);
	.row-content{
		min-height: 30vh;
	}

	h5{
		color: floralwhite;
		font-family: $font-Muli;
	}
	
	li{
		list-style: none;
		a{
			font-family: $font-Muli;
			font-weight: 200;
			color: #DFD8D8;
			text-decoration: none;
		}
		a:hover{
			color: floralwhite;
			text-decoration: none;
		}
		
	}

	#copyright{
		font-family: $font-OpenSans;
		font-size: .2em;
	}

}

footer a{
	color: floralwhite;
	text-decoration: none;
	font-weight: lighter;
}

foot-list-support{
	display: inline;
}
foot-list-support li{
	display: inline;
	color: red;
}

.btn-social-icon{
	background-color: floralwhite;
	border-radius: 50%;
	color: #636162;
}
#insta-btn{
	background: transparent;
	color: floralwhite;
	font-size: 20px;
}
#copyright{
	text-align: center;
	color: #a1a1a1;
	font-weight: lighter;
}
