$colors: (
	"primary": #a65b5b
);

/*
font-family: 'Andada', serif;
font-family: 'Belleza', sans-serif;
font-family: 'Corben', cursive;
font-family: 'Lalezar', cursive;
font-family: 'Muli', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

$desktop: 840px;
$iphone-5: 320px;

@mixin desktop {
	@media only screen and(min-width:#{$desktop}){
		@content;
	}
}


@function color($color-name){
	@return map-get($colors,$color-name);
}



.navbar-dark{
	background-color: color(primary);
}
header{
	margin-top: 50px;
	height: 80vh;
	background-image: url('Pic_Collate.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: floralwhite;

	.header-card{
		

		button{
			font-size: 1em !important;
		}
	}
}
.intro-div{

}

.row-content{
	min-height: 60vh;
}

.guide{
	background: rgb(2,0,36);
	background: linear-gradient(156deg, rgba(2,0,36,1) 0%, rgba(13,25,42,1) 9%, rgba(98,96,97,1) 100%);
	color: floralwhite;

	h1{
		color: floralwhite;
		font-size: 1.6em;
		border:2px solid floralwhite;
		text-align: center;
		padding: 5px 0px 10px 0px;
		margin: 0px;
		min-width: 100%;

		@media only screen and(max-width: $iphone-5){
			font-size: 1.3em;
		}
	}
	#guide-heading-sub {
		color: #bff8ee;
	}
	

	.step-div{

		.step-heading{
		border: 2px solid floralwhite;
		text-align: center;
		min-width: 60%;
		margin: 10px auto;
		padding: 5px 0 7px 0;
		font-size: 1.3em;
		}

		img{
			
		}

		p{
			text-align: center;
		}

		span{
			width: 30%;
			height: 15px;
			border-radius: 20px 20px;
			background-color: color(primary);
		}
	}
}
.benefits{
	background-image: url("./3rd_portion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	

	.benefit-box{
		border: 3px solid floralwhite;
		padding: 0px 20px 0px 20px;
		min-width: 60%;
		margin-bottom: 30px;
		text-align: right;
		color: floralwhite;
	}
}
.partners{
	background: rgb(12,24,41);
	background: linear-gradient(156deg, rgba(12,24,41,1) 0%, rgba(13,25,42,1) 9%, rgba(63,96,102,1) 100%);

	.partners-heading{
		color: floralwhite;
	}
}
#carouselPartners{
	overflow-x: hidden;
}
.subscribtion-row{
	background: rgb(252,250,250);
	background: linear-gradient(156deg, rgba(252,250,250,1) 0%, rgba(235,219,219,1) 8%, rgba(188,132,132,1) 100%);
}
.sub-form-div{
	#sub-form-heading{
		color: #4a6f73;
	}

	.sub-form-input{
		background: transparent;
		text-align: center;
		border: 2px solid #636162;
	}

	.sub-btn{
		background-color: #a65b5b;
		color: floralwhite;
		padding: 5px 40px 5px 40px;
		border: none;
	}
}

footer{
	background: rgb(165,90,90);
	background: linear-gradient(156deg, rgba(165,90,90,1) 0%, rgba(40,22,22,1) 100%);
}

footer .row-content{
	min-height: 30vh;
}

footer li{
	list-style: none;
}

footer a{
	color: floralwhite;
	text-decoration: none;
	font-weight: lighter;
}

foot-list-support{
	display: inline;
}
foot-list-support li{
	display: inline;
	color: red;
}

.btn-social-icon{
	background-color: floralwhite;
	border-radius: 50%;
	color: #636162;
}
#insta-btn{
	background: transparent;
	color: floralwhite;
	font-size: 20px;
}
#copyright{
	text-align: center;
	color: #a1a1a1;
	font-weight: lighter;
}
