node_modules
New folder
fonts
img
css/3rd_portion.jpg
css/Pic_Collate.png
css/slick-1.8.1.zip
css/slick-1.8.1/
css/slick/
Mykashback Website - Final.png
Initial Code Snippetes.txt
Mykashback_Website_Explained.pdf
